@tailwind base;
@tailwind components;
@tailwind utilities;

/* From feat/anonymouse-auth-Headerbar branch */
#hcaptcha-comp {
  display: flex;
  justify-content: center;
}

/* From development/next-reset branch */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

